@mixin borda-arredondada($raio: 0.3em) {
  -webkit-border-radius: $raio;
  border-radius: $raio;
}

%sombra-padrao {
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
