.contato input,
.contato button {
  display: block;
}

form {
  margin: 0 auto;
  width: 50%;

  @media #{$mq-mobile} {
    width: auto;
  }
}

.contato input,
textarea {
  width: 100%;
  margin-bottom: .8em;
  padding: 4px 8px;
  @include borda-arredondada;
  border: 2px solid #ccc;
}

.contato button {
  margin: 0 auto;
  background: $cor-padrao;
  border: 0;
  color: $cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include borda-arredondada;
  @extend %sombra-padrao;
}
