header {
  border-top: 5px solid $cor-padrao;
  background: rgba($cor-auxiliar, 0.8);
  height: 90px;
  width: 100%;
  position: absolute;

  @media #{$mq-mobile} {
    height: auto;

    h1 {
      max-width: 50%;
      margin: 0 auto;

      img {
		max-width: 100%;
		margin: .5em auto;
		display: block;
      }
    }
  }
}

header .container {
  position: relative;

  @media #{$mq-mobile} {
  	position: static;
  }
}

.menu-principal {
  position: absolute;
  right: 0;
  top: -.5em;
  font-size: 1.2em;
  font-weight: lighter;

  @media #{$mq-mobile} {
    position: static;
    display: block;
    text-align: center;
    width: auto;
  }

  ul {
    padding-left: 0;
  }

  li {

  	@media #{$mq-mobile} {
		margin: .4em;
		width: auto;
	}

    display: inline-block;
    width: 5em;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
