.planos {
  background: $cor-auxiliar;
}

.planos h2 {
  color: $cor-branca;
}

.plano {
  background: white;
  width: 18em;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;
}

.plano:hover {
  background: #dedede;
}

.plano h3 {
  color: $cor-branca;
  font-size: 1.8em;
  background: $cor-padrao;
  text-align: center;
  height: 2em;
  padding-top: .6em;
  margin-top: 0;
}

.plano div {
  text-align: center;
  color: $cor-padrao;
  font-size: 2.75em;
}

.itens-plano {
  padding-left: 1.2em;

  li {
    font-size: 1em;
    list-style: none;
    border-bottom: 1px solid #acacac;
    padding: .5em;
    width: 14.8em;

    &:last-child {
      border: 0;
    }
  }

  span {
    float: right;
  }
}

.plano button {
  background: $cor-padrao;
  border: 0;
  color: $cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2em;
  @include borda-arredondada;
  @extend %sombra-padrao;
  margin-left: 2em;
}

.icone-check, .icone-x {
  background: url(../imagens/sprite.png) no-repeat;
  width: 18px;
  height: 18px;
}

.icone-check {
  background-position: -5px -5px;
}

.icone-x {
  background-position: -33px -5px;
}
